.header {
  position: fixed;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display:flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  left:0px;
  right:0px;
  padding: 5px;
}

#logo {
  display:inline-flex;
  color: MediumAquamarine;
  align-items: center;
}

#logo img {
  margin-right: 10px;
}

.header nav {
  flex-basis: auto;
  display: inline-flex;
  align-items: center;
}

.header span {
  margin-right:15px;
}
