/* Header */

header {
  position: fixed;
  width:100%;
  left:0px;
  border-bottom: 1px solid black;
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  justify-content: space-between;
  height: 70px;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  width: 150px;
  color: MediumAquamarine;
  margin-left: 10px;
  flex-shrink: 0;
  flex-grow: 1;
}

.logo span {
  margin-left: 10px;
}

header nav {
  display: flex;
  justify-content: space-around;
}

header nav span {
  margin-right: 20px;
}

/* Main Container */

.container {
  position: relative;
  display: flex;
  top: 75px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


/* Borders for flexting */

div {
  border: solid black 1px;
}
